In [ ]:
test1='This is a test of the emergency text system'
test=open("test.text",'w')
test.write(test1)

In [ ]:
for test2 in open('test.text','r'):
    print(i)
#no difference

In [ ]:
import csv
w=[[title,author,year]
[The Weirdstone of Brisingamen,Alan Garner,1960]
[Perdido Street Station,China Mi√©ville,2000]
[Thud!,Terry Pratchett,2005]
[The Spellman Files,Lisa Lutz,2007]
[Small Gods,Terry Pratchett,1992]]
with open('books.csv','w',newline='') as file:
    wr=csv.writer(file)
    wr.writerows(w)

In [ ]:
import sqlite3
c=sqlite3.connect('books.db')
cn=c.cursor()
cn.execute('create table book(title varchar(20),author varchar(20),year int)')
cn.commit()
cn.close()

In [ ]:
try:
    import csv
    import sqlite3
    file=open("books.csv",'r')
    cont=csv.reader(file)
    con=sqlite3.connect('books.db') 
    cursor=con.cursor()
    cursor.executemany("insert into books values(?,?,?)",conts )
    con.commit()
    c.close()              
except Exception as e:
               print(e)

In [ ]:
try:
    import sqlite3
    cn=sqlite3.connect('books.db')
    cur=c.cursor()
    cur.execute("select title from books order by title")
    print(cur.fetchall())
    cn.commit()
    cn.close()
except Exception as e:
               print(e)

In [ ]:
try:
    import sqlite3
    cn=sqlite3.connect('books.db')
    cur=c.cursor()
    cur.execute("select * from books order by year")
    print(cur.fetchall())
    cn.commit()
    cn.close()
except Exception as e:
               print(e)

In [ ]:
try:
    from SQLAlchemy import create_engine
    engine=create_engine("sqlite:////books.db")
    engine.connect()
except Exception as e:
               print(e)

In [ ]:
import redis
conn = redis.Redis()
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
print(conn.hgetall('test'))

In [ ]:
conn.hincrby('test', 'count', 3)
print(conn.hget('test', 'count'))