# Write an SQL query to determine the 5th highest salary without using TOP or limit
method.

In [ ]:
Select *from emp where sal in(select * from(select distinct sal from emp order by sal desc) where rownum<=5

# Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
SELECT EmpName,sal From
 (
 SELECT Emp_Id,EmpName, Sal, Count(*) Over (Partition by Sal) as SalaryCnt
 FROM Tbl_EmpDetails
 ) S1
WHERE SalaryCnt>1
ORDER By Sal Desc