In [ ]:
SELECT TOP 10 * FROM TABLE_NAME

In [ ]:
Select * from table_name where Salary =( Select Salary from table_name order by Salary ASC limit n-1,1);