In [ ]:
"""Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias
name as WORKER_NAME"""
SELECT FIRST_NAME as WORKER_NAME
FROM Worker;

In [ ]:
"""an SQL query to fetch unique values of DEPARTMENT from Worker table."""
SELECT DISTINCT DEPARTMENT
FROM Worker;

In [ ]:
"""an SQL query to show the last 5 record from a table."""
SELECT TOP 5 *
FROM Worker
ORDER BY ID DESC;