In [ ]:
"""an SQL query to print the first three characters of  FIRST_NAME from Worker
table."""
SELECT SUBSTRING(FIRST_NAME,1,3)
FROM Worker

In [ ]:
""" an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table."""
SELECT CHARINDEX('a','Amitabh') FROM Worker

In [ ]:
"""an SQL query to print the name of employees having the highest salary in each
department."""
SELECT NAME 
FROM WORKER
GROUPBY DEPARTMENT
HAVING MAX(SALARY)