In [ ]:
"""an SQL query to print details of workers excluding first names, “Vipul” and
“Satish” from Worker table."""
SELECT * FROM Worker WHERE  FIRST_NAME NOT IN ('Vipul','Satish')

In [ ]:
"""an SQL query to print details of the Workers whose FIRST_NAME ends with
‘h’ and contains six alphabets."""
SELECT * FROM WORKER WHERE LEN(FIRST_NAME)=6 AND FIRST_NAME LIKE '%h'

In [ ]:
"""a query to validate Email of Employee"""
SELECT Email AS ValidEmail
FROM Employee
WHERE Email LIKE '%_@__%.__%'
AND PATINDEX('%[^a-z,0-9,@,.,_,\-]%', Email) = 0