In [ ]:
"""Write an SQL query to print the FIRST_NAME from Worker table after removing
white spaces from the right side."""

SELECT RTRIM(first_name) FROM worker;.

In [ ]:
"""Write an SQL query to print the FIRST_NAME from Worker table after removing
white spaces from the right side."""
SELECT DISTINCT department, LENGTH(department) AS departmentNameLength FROM worker;

In [ ]:
"""Write an SQL query to print the FIRST_NAME from Worker table after removing
white spaces from the right side."""
SELECT Salary FROM WORKER ORDER BY Salary DESC LIMIT n-1,1;